
<div class="whole">
    <div class="container main">
         <a href="/musics/playlist"><h1 class="main_logo">Maestro</h1></a>
        <div class="row">
            <div class="col-sm-11">
                <span class="theme">share my sound</span>
            </div>
            <div class="col-sm-1 back"><%= link_to 'Back', posts_path %></div>
        </div>
        <div class="line"></div>
        <div class="row">
            <div class="col-sm-6">
                <% if @playlist.image.present? %>
                    <%= image_tag(@playlist.image,  width: '100%', height: '100%') %> 
                 <% else %>
                     <img src="https://s3.ap-northeast-2.amazonaws.com/kwonyongil/uploads/default_image2/<%=@playlist.image2%>" style="width: 100%; height:100%">
                <% end %>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <%= render 'form1' %>
                </div>
            </div>
        </div>
        
            <div class="col-sm-6 raw_music">
                <% @volume = Array.new %>
                <% @musics = Music.where(:playlist_id => @post.playlist_id) %>
                <% @musics = @musics.where(:onoff => true) %>
                <% @musics.each_with_index do |u, i| %>
                <% @volume[i] = u.volume %>
                <div class="music_item">
                    <span><%= u.name%></span>
                    <div class="player_show">
                        <audio id="audio<%=i%>"class="audio__playlist" src="https://s3.ap-northeast-2.amazonaws.com/kwonyongil/uploads/music/<%=u.name %>.mp3" loop autoplay></audio>
                        <div id="volume_<%=i%>" class="volume_show"></div>   
                    </div>
                </div>
                <% end %>
            </div>
        
            
        
    </div>
</div> 

<script>
    

$(function () {
    var $audi = new Array();
    $audi = document.getElementsByClassName("audio__playlist");
    
    
    $.each($audi,function(i){
        var $vol = $("#volume_" + i);
        var AUDIO = $audi[i];
        var volvalue = <%= @volume %>;
        
        AUDIO.volume = volvalue[i];

    
        $vol.slider({
            min:0,
            max:100,
            range:"min",
            disabled: true,
            value: AUDIO.volume * 100,
            slide: function (ev, ui) {
  
                AUDIO.volume = ui.value / 100;
            }
        })
    });
});

</script>

<style>
    .main{
        padding-top: 50px;
    }
    .main_logo{
        padding:60px;
        color:lightgray;
        text-align: center;
    }
    a{
        float: right;
        color: white;
        font-size:20px;
    }
    .whole{
        height:100%;
        background-color: #030303;
    }
    .thumbnail{
        border: 1.5px solid #303030;
        background-color: transparent;
    }
    .imgs{
        
    }
    .theme{
        font-size:20px;
        color: lightgray;
        
    }
    .title{
        color:lightgray;
        text-decoration:none;
    }
    .user_name{
        color:gray;
    }
    .line{
        width:100%;
        height:2px;
        background-color: gray;
        margin-bottom: 20px;
    }
    .upload_img{
        width:100%;
        height:100%;
    }
    #post_content{
        width:100%;
        height:200px;
        background-color:transparent;
        border: 2px solid gray;
    }
    #post_title{
        width:100%;
        background-color:transparent;
        border: 2px solid gray;
    }
    .actions input{
        width:100%;
        padding:15px;
        
    }
    .actions input:hover{
        opacity:0.7;
        transition:0.3s;
    }
    .field{
        margin-bottom:45px;
    }
    .label{
        font-family: "Helvetica";
        text-align:left;
        color: lightgray;
        font-size: 1.2em;
    }
    .contents{
        
    }
</style>
